.background-color{
    color: green;
    font-weight: bold;
    font-style: italic;
}

.true{
    color: green;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.false{
    color : red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px; 
}